service cloud.firestore {
	match /databases/{database}/documents {
		// True if the user is signed in or the requested data is 'public'
		function signedInOrPublic() {
			return request.auth.uid != null || resource.data.visibility == 'public';
		}

		// Make sure the uid of the requesting user matches name of the user
		// document. The wildcard expression {userId} makes the userId variable
		// available in rules.
		match /users/{userId} {
			allow read: if request.auth.uid == userId;
		}
	}
}
